/micronote-parent/.project
/micronote-parent/config-server/.project
/micronote-parent/.settings/org.eclipse.core.resources.prefs
/micronote-parent/.settings/org.eclipse.m2e.core.prefs
/micronote-parent/config-server/.classpath
/micronote-parent/config-server/.gitignore
/micronote-parent/config-server/.settings/org.eclipse.core.resources.prefs
/micronote-parent/config-server/.settings/org.eclipse.jdt.core.prefs
/micronote-parent/config-server/.settings/org.eclipse.m2e.core.prefs
/micronote-parent/eureka-server/.classpath
/micronote-parent/eureka-server/.gitignore
/micronote-parent/eureka-server/.project
/micronote-parent/eureka-server/.settings/org.eclipse.core.resources.prefs
/micronote-parent/eureka-server/.settings/org.eclipse.jdt.core.prefs
/micronote-parent/eureka-server/.settings/org.eclipse.m2e.core.prefs
/micronote-parent/gateway/.classpath
/micronote-parent/gateway/.gitignore
/micronote-parent/gateway/.project
/micronote-parent/gateway/.settings/org.eclipse.core.resources.prefs
/micronote-parent/gateway/.settings/org.eclipse.jdt.core.prefs
/micronote-parent/gateway/.settings/org.eclipse.m2e.core.prefs
/micronote-parent/hystrixdashboard/.classpath
/micronote-parent/hystrixdashboard/.gitignore
/micronote-parent/hystrixdashboard/.project
/micronote-parent/hystrixdashboard/.settings/org.eclipse.core.resources.prefs
/micronote-parent/hystrixdashboard/.settings/org.eclipse.jdt.core.prefs
/micronote-parent/hystrixdashboard/.settings/org.eclipse.m2e.core.prefs
/micronote-parent/users/.classpath
/micronote-parent/users/.gitignore
/micronote-parent/users/.project
/micronote-parent/users/.settings/org.eclipse.core.resources.prefs
/micronote-parent/users/.settings/org.eclipse.jdt.core.prefs
/micronote-parent/users/.settings/org.eclipse.m2e.core.prefs
/micronote-parent/weeklyreport/.classpath
/micronote-parent/weeklyreport/.gitignore
/micronote-parent/weeklyreport/.project
/micronote-parent/weeklyreport/.settings/org.eclipse.core.resources.prefs
/micronote-parent/weeklyreport/.settings/org.eclipse.jdt.core.prefs
/micronote-parent/weeklyreport/.settings/org.eclipse.m2e.core.prefs
.idea/
*.iml
*.iws
*.ipr
target/
